{% extends "base.html" %} {% load i18n %} {% block head_title %}{% trans
"Signup" %}{% endblock %} {% block content %}

<!-- Sign up section -->

<section class="signup_page" id="signup_page">
  <div class="container mb-5 col-md-8">
    <div class="row align-items-center">
      <div class="col-md-6 mt-5 offset-md-2">
        <h2 class="mt-2 font-monospace p-2">{% trans "Register" %}</h2>
        <h6 class="p-2">
          {% blocktrans %}Do you have an account already? Then, please
          <a class="link p-2" href="{{ login_url }}">sign in</a>
          first.{% endblocktrans %}
        </h6>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-8 mt-3 offset-md-2 pb-5">
        <form
          class="login p-2 signup"
          id="signup_form"
          method="post"
          action="{% url 'account_signup' %}"
        >
          {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
          <input
            type="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
          />
          {% endif %}
          <button class="btn btn-signup right" type="submit">
            {% trans "Sign Up" %} &raquo;
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- End of the sign up section -->
{% endblock %}
