{% extends "base.html" %} 

{% load i18n %} 

{% load account socialaccount %}

{% trans "Sign In" %}{% block content %}

<!-- LOGIN SECTION -->

<section class="login_page" id="login_page">
  <div class="container box-shadow">
    <div class="row align-items-center">
      <div class="col-md-6 mt-5 offset-md-2">
        <h2 class=" font-monospace p-2">{% trans "Sign In" %}</h2>

        <h6 class="p-2">
          {% blocktrans %}Welcome back to Montessori Inspired. If you would like
          to leave a comment or like a post, please log in. If you don't have
          your account yet, please
          <a class="link p-2" href="{{ signup_url }}">register</a>
        first.{% endblocktrans %}</h6>
        </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-8 mt-3 offset-md-2 pb-5">
                <form class="login p-2" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-signup right" type="submit">{% trans "Sign In" %}</button>
                </form>
            </div>
        </div>
        </div>
        </section>
        <!-- END OF LOGIN SECTION -->
        {% endblock %}
</section>
