{% extends 'base.html' %} {% load static %} {% block content %} {% include "components/hero_small.html" %}


<!-- ABOUT SECTION -->
<section id="about" >
  <div style=" background-color: #eee;" id="aboutText">
    <h1 class="text-center font-monospace">About Us</h1>
    <br>
          <h3 class="sub-title text-center">
            Welcome to Montessori Inspired!
          </h3>
  </div>
  </div>
  <div class="container box-shadow">
    <div class="row" id="about_content">
      <div class="col-md-4">
        <img class="mb-3 box-shadow bg-linear-gradient"
          src="https://res.cloudinary.com/dsyasuwlk/image/upload/v1694599514/silhouette-family-playing-beach_rtupui.png" style="height: 550px" alt="Family"/>
      </div>
    
        <div class="col-md-7">
        <p class="mt-3 text-justify">

          We are family of three. We are passionate about Montessori education and it fits very well with our lifestyle
          that we have adopted as our own.
          We try to bring Montessori ideals into our home in the most authentic way possible.

          Based on the Montessori philosophy, we also work on respectful parenting practices,
          We observe our child and take into account her natural interests and love hands-on learning and the
          development of practical skills. We give the child space to learn independence.

          We like being with our children surrounded by nature, healthy food and music, and we are passionate about
          sport. We like to surround ourselves with natural materials.


        </p>
        <hr />
        <p class="text-justify">
          At the moment we live in Germany but our family is partly from Brazil and partly from Poland. In our home we
          communicate
          mainly in two languages, but our daughter is trilingual. And of course our home is a wonderful mix of
          cultures.


          The Montessori philosophy sees children as naturally eager to learn and capable of initiating learning if they
          have a
          supportive and well-prepared environment to do so. And that's what we're trying to give our child and that's
          what we
          want to share with you. We hope that you will find something valuable here for you and your family and we ask
          that you
          also share your knowledge.

          Thank you for visiting!
        </p>
        <div class="enjoy-box mb-5">
          <span>Enjoy our blog!!</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END ABOUT SECTION -->

{% endblock content %}