{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
  <title>Monatessori Parenting</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- google fonts links-->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="Montessori Parenting.Become a part of our Montessori community. You can search and share great ideas regarding a Montessori parenting philosophy">
  <meta name="keywords" content="montessori, parenting, children, education">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://res.cloudinary.com/dsyasuwlk/image/upload/v1692617550/static/logo/favicon1.c442146caf3d.png">
  <!-- Fontawesome link -->
  <script src="https://kit.fontawesome.com/a40a60ed20.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <!-- Bootstrap links-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <!-- CSS style sheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="d-flex flex-column h-100 main-bg">

  <!-- Navigation -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">

    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand  me-2" href="{% url 'home' %}">
        <img src="https://res.cloudinary.com/dsyasuwlk/image/upload/v1692698023/static/logo/Logo_2_o6xudb.png"
          height="70" alt="home"></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">

            <a class="nav-link active" aria-current="page" href="{% url 'home' %}"
              aria-label="Go to the home page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'about' %}"
              aria-label="Go to the about page">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'blog' %}"
              aria-label="Go to the about page">Blog</a>
          </li>


          {% if user.is_authenticated %}
          {% if user.profile.image %}
          <li><a href="{% url 'profile' %}"><img class="author-img rounded-circle img-fluid" style="width: 50px;"
                src="https://res.cloudinary.com/dsyasuwlk/image/upload/v1694443403/mitqrjy1xug4hltxxd7w.png"
                alt="User Image" /></li>
          {% else %}
          <li><img class="author-img rounded-circle img-fluid" style="width: 50px;" alt="User Image"
              src="https://res.cloudinary.com/dsyasuwlk/image/upload/v1694379442/lrhgzlff8fkawsvjohde.png" /></li>
          {% endif %}</a>
          <li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">My space</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'user-posts' %}" aria-label="Go to the user posts page">My
                  posts</a></li>
              <li>
                <hr class="dropdown-divider">
              <li><a class="dropdown-item" href="{% url 'profile' %}" aria-label="Go to the user profile page">My
                  profile</a></li>
              <li>
                <hr class="dropdown-divider">
              <li><a class="dropdown-item" href="{% url 'new_post' %}" aria-label="Go to the user profile page">Add
                  post</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          </li>


          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
          </li>
        </ul>
        {% endif %}

        <form class="d-flex" id="search_boxNav" method="get" action="{% url 'search' %}">
          <input class="form-control me-2" name="q" type="search" placeholder="Search Post" aria-label="Search">
          <button class="btn btn-outline btn-signup me-3" id="search1" type="submit">Search</button>
        </form>

      </div>
    </div>
  </nav>


  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
          {{ message | safe }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <main class="flex-shrink-0 main-bg">
    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
  </main>

  <!-- Footer -->

  <footer class=" footer mt-auto py-3 text-center text-white" style="background-color: #C09573;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <div class="container-fluid">
          <div class="m-0 text-center text-white fs-4 font-monospace">
            <h4>Follow Us</h4>
          </div>
          <div class="col-md-12 text-center">
            <div id="social-networks">
              <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" target="_blank"
                rel="noopener" aria-label="Go to the facebook Montessori Blog page(opens in new tab)"><i
                  class="fab fa-facebook"></i></a>
              <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" target="_blank"
                rel="noopener" aria-label="Go to the instagram Montessori page (opens in new tab)"><i
                  class="fab fa-instagram"></i></a>
              <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" target="_blank"
                rel="noopener" aria-label="Go to the Twitter Montessori page (opens in new tab)"><i
                  class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </footer>
  <!--End of the Footer -->
  <script>
    setTimeout(function () {
      let messages = document.getElementById("msg");
      let alert = new bootstrap.Alert(messages);
      alert.close();
    }, 2500);
  </script>
</body>

</html>