{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<section class="my-5 min-vh-80" id="delete-post">
    {% if user.id == post.author.id %}
     <div class="container-fluid p-2 text-dark bg-opacity-10">
    <div class="row">
      <div class="col-md-8 m-auto text-center deletePost">
                <form method="POST" style="background-color: #ddcfcc; height:200px" action="{% url 'delete-post' post.slug %}">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <h3 class="mt-5 font-monospace"> Hello {{ user }}, <br>Are you sure you want to delete this post: "{{ post.title }}"?</h3>
                    <a href="{% url 'delete-post' post.slug %}">
                  <button class="mx-2  btn btn-danger btn-lg" type="submit">Yes, Delete</button></a>
                    <a href="{% url 'post_detail' post.slug %}" class= "mx-2  btn btn-signup btn-lg">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <h2>This post wasn't created by you. You can only delete the post which you have created</h2>
    {% endif %}
</section>
{% endblock %}