{% extends 'base.html' %} {% load static %} {% block content %} {% load
crispy_forms_tags %}

<!-- UPDATE COMMENT SECTION -->
<div class="edit-comments container box-shadow">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="mt-3">Edit Comment</h2>
      <h4 class="mb-4">

        <p>Hello:
        <span style="color: rgb(155, 110, 59)">{{ user }}</span>, you can edit your comment here:
      </h4>
        <form method="post" enctype="multipart/form-data">

                {% csrf_token %} {{ form | crispy }}
            {{ form.as_p }}
            <button class="btn btn-secondary right mb-4" type="submit" value="Save">Submit</button>
        </form>
      </form>
    </div>
  </div>
</div>
{% endblock %}
