{% extends 'base.html' %} {% load static %} {% block content %} 

<!-- HERO SECTION -->
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active">
            <img src="https://res.cloudinary.com/dsyasuwlk/image/upload/v1692799120/heroPhoto_afx6wj.png" class="d-block w-100"
                height="900px" alt="toys">
            <div class="carousel-caption d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3"><mark style="background-color: #8b674b;" class=" text-white">Right Toys At The
                            Right Time
                    </h1>
                    <a class="btn btn-outline-light btn-lg" href="{% url 'user-posts' %}"  role="button">See the post</a>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="https://res.cloudinary.com/dsyasuwlk/image/upload/v1694464627/cooking_ehzyrq.png"
                class="d-block w-100" height="900px" alt="kitchen">

            <div class="carousel-caption d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3"><mark style="background-color: #8b674b;" class=" text-white">The Importance of
                            Practical Life Activities</mark></h1>
                    <a class="btn btn-outline-light btn-lg" href="{% url 'user-posts' %}" role="button">See the post</a>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="https://res.cloudinary.com/dsyasuwlk/image/upload/v1692802265/room1_vaohvy.png"
                class="d-block w-100" height="900px" alt="decor">
            <div class="carousel-caption d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3"><mark style="background-color: #8b674b;" class=" text-white">A Montessori Room For The Little Ones</mark></h1>
                    <a class="btn btn-outline-light btn-lg" href="{% url 'user-posts' %}"  role="button">See the post</a>
                </div>
            </div>
        </div>
     
    </div>
</div>
   
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!-- END OF HERO Section -->

<section class="container px-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="my-3 pink-text text-center">What We Do</h2>
            </div>
        </div>
        <hr class="home-break">
        <div class="row mb-sm-5">
            <div class="col-12">
                <p class="mt-3 my-md-3 text-center lead">
                    More than 100 years ago, an Italian doctor founded a school in a poorer area of Rome. Maria Montessori being one of the
                    first female doctors, also became a pioneer of a new educational method.
                    For over 50 years she has worked with children regardless of their race, nationality and wealth. The pedagogy created by
                    her is based on careful observation of children and an individualized approach to each of them.
                    
                    This is the place to discover creative, hands-on ideas that you can use in your own home!
                    You have access to many helpful posts about Montessori, education, child development, and more!
                    I hope we can help you inspire a love of learning in children by providing you with the resources you need to have!
                    We hope you enjoy our Montessori blog!
                </p>
            </div>
        </div>
    </div>
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>“As we observe children, we see the vitality of their spirit, the maximum effort put forth in all they do, the
                    intuition, attention and focus they bring to all life's events, and the sheer joy they experience in living.”</p>
                    <hr>
                    <p>“Do not tell them how to do it. Show them how to do it and do not say a word. If you tell them, they will watch your
                    lips move. If you show them, they will want to do it themselves.”</p>

                <hr>

                    <p>“Joy, feeling one’s own value, being appreciated and loved by others, feeling useful and capable of production are all
                    factors of enormous value for the human soul.”
                   </p>
                    <p class="fst-italic">Maria Montessori</p>
                </div>
            </div>
        </div>
    </main>
</section>

{%endblock%}