{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<section id="post-content">
<div class="row featurette p-5 container-fluid">
    <div class="col-md-5 text-center">
        {% if "placeholder" in post.featured_image.url %}
        <img
          class="post-img"
          id="post-content-img"
          src="https://res.cloudinary.com/dsyasuwlk/image/upload/v1692973033/BackupImage_aucy1q.png"
          width="100%"
          height="400px"
        />
        {% else %}
        <img
          src=" {{ post.featured_image.url }}"
          id="post-content-img"
          width="100%"
          alt="{{ post.title }} Image"
        />
        {% endif %}

        <div class="content-description" id="contentDescriptionPost">
          {% for categ in post.categories.all %}
          <h4 class="pt-3" id="bookclateg"><i class="fa fa-book"></i>{{ categ }}</h4>
          {% endfor %}
         
        </div>
  </div>
  
          <!-- The post content goes inside the card-text. -->
          <!-- Use the | safe filter inside the template tags -->
        <div class="col-md-7" id="post_text">
            <h2 class="post_title font-monospace">{{ post.title }}</h2>
            <p class="post-author font-monospace" id="PostedBY">
                <img src="https://res.cloudinary.com/dsyasuwlk/image/upload/v1692968358/faviconRainbow-removebg-preview_om2znl.png"
                    height="25" alt="Logo" loading="lazy" />Posted by : {{ post.author }} | {{ post.created_on }}
            </p>
          <p class="mt-3 text-justify">{{ post.content | safe }}</p>
        
            <strong>
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                            class="fas fa-heart"></i></button>
                    {% else %}
                    <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                            class="far fa-heart"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span class="text-secondary"><i class="far fa-heart"></i></span>
                {% endif %}
                <span class="text-secondary">{{ post.number_of_likes }} </span>
            </strong>
            
              {% with comments.count as total_comments %}
              <strong class="text-secondary"
                ><i class="far fa-comments"></i>
                <!-- Our total_comments variable goes before the closing strong tag -->
                {{ total_comments }}</strong
              >
              {% endwith %}
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Only visible to the author of the post-->
    {% if user.id == post.author.id %}
    <div class="row" >
        <div class="d-flex justify-content-center">
            <a href="{% url 'update-post' post.slug  %}" id="update-post-button" role="button" class="mx-2  btn btn-signup btn-lg"><strong>Edit
                    Post</strong> </a>
            <a href="{% url 'delete-post' post.slug  %}" role="button" class="mx-2  btn btn-signup btn-lg"><strong>Delete
                    Post</strong></a>
        </div>
    </div>
    {% endif %}
    <hr>
    <hr>
</section>

<section style="background-color: #f5e1c9;">
    <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="card text-dark">
                    <div class="card-body p-4">
                        
                        <h3 class="font-monospace">Leave a comment:</h3>
                        <p>Posting as: {{ user.username }}</p>
                        <form method="post" style="margin-top: 1.3em">
                            {{ comment_form | crispy }} {% csrf_token %}
                            <button type="submit" class="m-3 btn btn-signup btn-lg" >Submit</button>
                        </form>
                        <h4 class="mb-0 font-monospace" id="recent">Recent comments</h4>
                        <p class="fw-light mb-4 pb-2">Latest Comments section by users</p>
          <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
          {% for comment in comments %}
          <div class="comments" style="padding: 10px">
            <p class="font-weight-bold">
              {{ comment.name }}
              <span class="text-muted font-weight-normal">
                <!-- The comment's created date goes here -->
                {{ comment.created_on }}
              </span>
              wrote:
            </p>
            <!-- The body of the comment goes before the | -->
            {{ comment.body | linebreaks }}
            <hr>
          </div>
          <!-- Our for loop ends here -->
          {% endfor %}
        </div>
      </div>

          {% if commented %}
          <div class="alert alert-success" role="alert">
            Your comment is awaiting approval
          </div>
          {% else %} {% if user.is_authenticated %}

          
          {% endif %} {% endif %}
       
    </div>
  </div>

  {% endblock content %}
</section>
