{% extends 'base.html' %} {% load static %} 
{% block content %}


<section id="searched-box" id="search" class="container-fluid ">
        <div class="row featurette p-5">
      {% if posts %}
    <div class="col-md-7">
    <h2 class="text-left mt-3 text-justify">
        {% for post in posts %}
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    
                        <a href="{% url 'post_detail' post.slug  %}">
                            <h2 class="card-title">{{ post.title }}</h2>
                        </a>
                        <p class="text-muted">
                            Author: {{ post.author }}
                            <!-- Only users that are logged in can edit/ delete their own post -->
                            {% if user.id == post.author.id %}
                            <strong><a class="text-dark ms-2" href="{% url 'update-post' post.slug %}"> Edit</a></strong> |
                            <strong><a class="text-danger" href="{% url 'delete-post' post.slug %}">
                                    Delete</a></strong>
                            {% endif %}
                        </p>
                    </div>
                    <p class="card-text">{{post.content|slice:":280" | safe }} <a href="{% url 'post_detail' post.slug  %}"
                            class="hidden-link">... continue reading &rarr;</a></p>
                    <hr>
                    <div class="card-footer">
                        <span>{{ post.created_on}} | </span>
                        <span><i class="fas fa-heart"></i> {{ post.number_of_likes }} </span>
                        <span class="text-secondary"> | <i class="far fa-comments"></i></span>
                    </div>
                </div>
            </div>
        </div>
              
      <div class="col-md-5 text-center">
                    <img src="{{ post.featured_image.url }}"  style="height: 550px" alt="{{ result }} Image">
                </div>
            </div>
        </a>
        <hr>
        {% empty %}
        <div class="results-null">
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <h2>We Are Sorry</h2>
                    <p>There is no search for <span class="text-success">"{{ queryset}}"</span> on the website.</p>
                    <p>Please try searching again</p>
                </div>
            </div>
        </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="results-empty">
            <div class="row">
                <div class="col-md-12">
                    <h2>You forgot to search for a recipe. <br>Please try searching again.</h2>
                </div>
            </div>
        </div>
        </div>
        {% endif %}
        </div>
        </div>
        </section>
        <!-- END OF SEARCHED RESULTS SECTION -->
        
        {% endblock content %}