{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<section id="update-box" class="update_post">
  {% if user.id == post.author.id %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 m-auto text-center">
        <h2 class="mt-3 text-center font-monospace">
          Hello<span>{{ user }}</span>
        </h2>
        <h3 class="mt-2 text-center font-monospace">
          Would you like to update your post:
        </h3>
        <form
          method="POST"
          enctype="multipart/form-data"
          class="input-fields form-control p-3"
          id="updatePost"
          style="background-color: #ddcfcc"
        >
          {{ form|crispy }} {% csrf_token %}
          <button
            type="submit"
            value="Update"
            class="mx-2 btn btn-signup btn-lg"
            id="update-button-form"
          >
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
  {% else %}
  <h2>
    This is not your post. You can only update posts that you have created.
  </h2>
  {% endif %}
</section>
{% endblock %}
