{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% include "components/hero_small.html" %}

<!-- PROFILE SECTION -->
<section id="profile_container container-fluid">
  <div class="col-md-8 m-auto text-center">
    <h2 class="title mt-5 text-center font-monospace" id="Profile_infotext">Profile Info</h2>
  </div>
  <div style="background-color: #eee;">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center" id="profileIMG">
            {% if user.profile.image %}
            <img class="author-img rounded-circle img-fluid" style="width: 270px;" src="{{ user.profile.image.url }}"
              alt="User Image" />
            {% else %}
            <img class="author-img rounded-circle img-fluid" style="width: 150px;"
              src="https://res.cloudinary.com/dsyasuwlk/image/upload/v1694443403/mitqrjy1xug4hltxxd7w.png"
              alt="User Image" />
            {% endif %}

            <h5 class="my-3"> {{ user.username | slice:":15" }}</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-8" id="profile_info">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.username | slice:":15" }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{ user.email }}</p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Time Logged: </p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{ user.last_login | timesince }}</p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                {% if user.is_superuser %}
                <p class="mb-0">Status </p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">Superuser</p>
              </div>
            </div>
            {% else %}
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Status </p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">User</p>
              </div>
            </div>
            {% endif %}
            <br>
            </div>
            <hr>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="col-8 offset-2 mt-4 text-center font-monospace" id="profile_button">
    <h3>Have a look at : <a href="{% url 'user-posts' %}">
        <button class="mx-2 btn btn-signup btn-lg">My posts</button></a></h3>
  </div>
</section>
<!-- END OF PROFILE SECTION -->
{% endblock content %}