{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} 
{% block content %}

<section id="user-posts">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2 mt-4 text-center font-monospace">
        <h2>Welcome <span>{{user.username}}</span></h2>
        <h3>Would you like to   <a href="{% url 'new_post' %}">
            <button class="mx-2  btn btn-signup btn-lg" id="Add_new_post">Add a new post</button></a></h3>
        <h4 class="mt-3 p-2">Have a look at your posts:</h4>
      </div>
    </div>
  </div>
  <div class="container-fluid " >
    <div class="row">
<!-- Blog Entries Column -->
<div class="col-12 mt-3 left ">
  <div class="row ">
    {% if post_list|length > 0 %}
    {% for post in post_list %}
    <div class="col-md-4 ">
      <div class="card mb-4 content-box" style="background-color: #ddcfcc;">

        <div class="card-body" >
            <a href="{% url 'post_detail' post.slug %}" aria-label="Go to the post detail page">
          <div class="image-container" id="Image_userPost_box" >
             <!-- The featured image URL or an alternative if one isnt provided -->
            {% if "placeholder" in post.featured_image.url %}
                    <img
                      class="card-img"
                      src="https://res.cloudinary.com/dsyasuwlk/image/upload/v1693395728/pexels-antoni-shkraba-6219059_mf4uoa.png"
                      width="100%"
                    />
                    {% else %}
                    <img
                      src=" {{ post.featured_image.url }}"
                      class="card-img-top"
                      alt="{{ post.title }} image"
            
                    />
                    {% endif %}
                    <div class="card-img-overlay text-center" id="User_postCateg">
                      {% for categ in post.categories.all %}
                      <h4 class="des-heading">{{ categ }}</h4>
                      {% endfor %}
                    </div>
                <div class="content-description" id="post_titel">
                    <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                        <h3 class="card-title">{{ post.title }}</h3>
                        <p class="card-text">{{ post.excerpt }}</p>
                    </a>
                </div>
                <div class="card-text">
                    {{ post.content | slice:":250" | safe }}...
                </div>
               
                <p class="card-text text-muted h6">
                    {{ post.created_on}} <span><i class="fas fa-heart"></i> {{ post.number_of_likes }} </span>
                </p>
                </div>
              </div>
            </div>
          </div>
            </div>
        </div>
       
          {% endfor %}
          <!-- if the user have NOT shared any post, the Create New button below will display -->
          {% else %}
          <div class="container text-center mt-4">
            <div class="text-dark">
              <p style="font-size: 1.5rem">
                It looks like that you haven't posted any blog post yet.
                <a class="hidden-link" href="{% url 'new_post' %}">Would you like to add one?</a>
              </p>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
